In [1]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings ('ignore')

import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns

import statsmodels.api as sm
from statsmodels.formula.api import ols

In [3]:
donors = pd.read_csv(r'files_for_labs/learningSet.txt')
donors

,ODATEDW,OSOURCE,TCODE,STATE,ZIP,MAILCODE,PVASTATE,DOB,NOEXCH,RECINHSE,...,TARGET_D,HPHONE_D,RFA_2R,RFA_2F,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,CLUSTER2,GEOCODE2
0,8901,GRI,0,IL,61081,,,3712,0,,...,0.0,0,L,4,E,X,X,X,39.0,C
1,9401,BOA,1,CA,91326,,,5202,0,,...,0.0,0,L,2,G,X,X,X,1.0,A
2,9001,AMH,1,NC,27017,,,0,0,,...,0.0,1,L,4,E,X,X,X,60.0,C
3,8701,BRY,0,CA,95953,,,2801,0,,...,0.0,1,L,4,E,X,X,X,41.0,C
4,8601,,0,FL,33176,,,2001,0,X,...,0.0,1,L,2,F,X,X,X,26.0,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,9601,ASE,1,AK,99504,,,0,0,,...,0.0,0,L,1,G,X,X,X,12.0,C
95408,9601,DCD,1,TX,77379,,,5001,0,,...,0.0,1,L,1,F,X,X,X,2.0,A
95409,9501,MBC,1,MI,48910,,,3801,0,,...,0.0,1,L,3,E,X,X,X,34.0,B
95410,8601,PRV,0,CA,91320,,,4005,0,X,...,18.0,1,L,4,F,X,X,X,11.0,A
95411,8801,MCC,2,NC,28409,,,1801,0,X,...,0.0,1,L,1,G,C,1,C,12.0,C

In [4]:
donors.dtypes

ODATEDW       int64
OSOURCE      object
TCODE         int64
STATE        object
ZIP          object
             ...
MDMAUD_R     object
MDMAUD_F     object
MDMAUD_A     object
CLUSTER2    float64
GEOCODE2     object
Length: 481, dtype: object

In [5]:
donors = donors.drop_duplicates()

In [6]:
donors.isna().sum().sum()

5158796

In [7]:
null_df = donors.isna().sum()/len(donors)

null_df = pd.DataFrame(null_df).reset_index()
null_df.columns = ['column_names','percentage_of_nulls']

null_df = null_df.sort_values(by = 'percentage_of_nulls', ascending = False )
null_df

    column_names  percentage_of_nulls
414      RDATE_5             0.999906
436      RAMNT_5             0.999906
412      RDATE_3             0.997464
434      RAMNT_3             0.997464
413      RDATE_4             0.997055
..           ...                  ...
168        ETHC3             0.000000
167        ETHC2             0.000000
166        ETHC1             0.000000
165        HHD12             0.000000
240        TPE11             0.000000

[481 rows x 2 columns]

In [8]:
threshold = 0.3

condition = null_df['percentage_of_nulls'] > threshold
columns_above_threshold = null_df[condition]
columns_above_threshold

    column_names  percentage_of_nulls
414      RDATE_5             0.999906
436      RAMNT_5             0.999906
412      RDATE_3             0.997464
434      RAMNT_3             0.997464
413      RDATE_4             0.997055
..           ...                  ...
372     ADATE_13             0.421530
383     ADATE_24             0.387509
380     ADATE_21             0.369052
364      ADATE_5             0.352052
369     ADATE_10             0.343227

[69 rows x 2 columns]

In [9]:
drop_column_list = list(columns_above_threshold['column_names'])
donors = donors.drop(columns = drop_column_list)

In [10]:
donors.replace(' ', np.nan, inplace=True)

null_df = donors.isna().sum()/len(donors)
null_df = pd.DataFrame(null_df).reset_index()
null_df.columns = ['column_names','percentage_of_nulls']
null_df = null_df.sort_values(by = 'percentage_of_nulls', ascending = False )

threshold = 0.3
condition = null_df['percentage_of_nulls'] > threshold
columns_above_threshold = null_df[condition]
columns_above_threshold

    column_names  percentage_of_nulls
11       RECPGVG             0.998805
34         SOLP3             0.998113
36         MAJOR             0.996919
55        PLATES             0.994131
42         HOMEE             0.990703
54         CARDS             0.989089
19       CHILD03             0.987989
5       MAILCODE             0.985337
6       PVASTATE             0.984719
53      KIDSTUFF             0.983901
20       CHILD07             0.983587
12      RECSWEEP             0.983052
21       CHILD12             0.981019
10         RECP3             0.978860
51         BOATS             0.978745
22       CHILD18             0.970161
47         PHOTO             0.949839
38      COLLECT1             0.945479
35         SOLIH             0.935019
9       RECINHSE             0.929747
49        FISHER             0.925271
41         CATLG             0.917568
48        CRAFTS             0.914308
40         BIBLE             0.907024
39      VETERANS             0.890727
46      PCOWNERS             0.890150
52        WALKER             0.889940
44        CDPLAY             0.871568
45        STEREO             0.865908
50      GARDENIN             0.859535
43          PETS             0.849851
37       GEOCODE             0.840230
372       RFA_15             0.686255
380       RFA_23             0.589800
56       LIFESRC             0.566302
377       RFA_20             0.526139
57      PEPSTRFL             0.525542
370       RFA_13             0.421530
381       RFA_24             0.387509
378       RFA_21             0.369052
362        RFA_5             0.352052
367       RFA_10             0.343227
17       AGEFLAG             0.309689

In [ ]:
drop_column_list = list(columns_above_threshold['column_names'])
donors = donors.drop(columns = drop_column_list)

In [15]:
donors

,ODATEDW,OSOURCE,TCODE,STATE,ZIP,DOB,NOEXCH,MDMAUD,DOMAIN,CLUSTER,...,TARGET_D,HPHONE_D,RFA_2R,RFA_2F,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,CLUSTER2,GEOCODE2
0,8901,GRI,0,IL,61081,3712,0,XXXX,T2,36,...,0.0,0,L,4,E,X,X,X,39.0,C
1,9401,BOA,1,CA,91326,5202,0,XXXX,S1,14,...,0.0,0,L,2,G,X,X,X,1.0,A
2,9001,AMH,1,NC,27017,0,0,XXXX,R2,43,...,0.0,1,L,4,E,X,X,X,60.0,C
3,8701,BRY,0,CA,95953,2801,0,XXXX,R2,44,...,0.0,1,L,4,E,X,X,X,41.0,C
4,8601,NaN,0,FL,33176,2001,0,XXXX,S2,16,...,0.0,1,L,2,F,X,X,X,26.0,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,9601,ASE,1,AK,99504,0,0,XXXX,C2,27,...,0.0,0,L,1,G,X,X,X,12.0,C
95408,9601,DCD,1,TX,77379,5001,0,XXXX,C1,24,...,0.0,1,L,1,F,X,X,X,2.0,A
95409,9501,MBC,1,MI,48910,3801,0,XXXX,C3,30,...,0.0,1,L,3,E,X,X,X,34.0,B
95410,8601,PRV,0,CA,91320,4005,0,XXXX,C1,24,...,18.0,1,L,4,F,X,X,X,11.0,A
95411,8801,MCC,2,NC,28409,1801,0,C1CM,C1,24,...,0.0,1,L,1,G,C,1,C,12.0,C

In [16]:
categorical_df = donors.select_dtypes(exclude = ['number'])
categorical_df

,OSOURCE,STATE,ZIP,NOEXCH,MDMAUD,DOMAIN,CLUSTER,HOMEOWNR,GENDER,DATASRCE,...,RFA_17,RFA_18,RFA_19,RFA_22,RFA_2R,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,GEOCODE2
0,GRI,IL,61081,0,XXXX,T2,36,NaN,F,NaN,...,S4E,S4E,S4E,S4E,L,E,X,X,X,C
1,BOA,CA,91326,0,XXXX,S1,14,H,M,3,...,NaN,NaN,N1E,N1E,L,G,X,X,X,A
2,AMH,NC,27017,0,XXXX,R2,43,U,M,3,...,NaN,S4D,S4D,S4D,L,E,X,X,X,C
3,BRY,CA,95953,0,XXXX,R2,44,U,F,3,...,S2D,S2D,A1D,A1D,L,E,X,X,X,C
4,NaN,FL,33176,0,XXXX,S2,16,H,F,3,...,A2D,A2D,A3D,I4E,L,F,X,X,X,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,ASE,AK,99504,0,XXXX,C2,27,NaN,M,NaN,...,NaN,NaN,NaN,NaN,L,G,X,X,X,C
95408,DCD,TX,77379,0,XXXX,C1,24,H,M,3,...,NaN,NaN,NaN,NaN,L,F,X,X,X,A
95409,MBC,MI,48910,0,XXXX,C3,30,NaN,M,NaN,...,NaN,F1D,NaN,P1D,L,E,X,X,X,B
95410,PRV,CA,91320,0,XXXX,C1,24,H,F,2,...,S2F,S2F,A1F,A1F,L,F,X,X,X,A
95411,MCC,NC,28409,0,C1CM,C1,24,U,F,3,...,S3G,S3G,S4G,S3G,L,G,C,1,C,C

In [17]:
categorical_columns = donors.select_dtypes(exclude=['number']).columns.tolist()

for column in categorical_columns:
    unique_values = donors[column].unique()
    print(f"Unique values for {column}:")
    print(unique_values)
    print()

Unique values for OSOURCE:
['GRI' 'BOA' 'AMH' 'BRY' nan 'CWR' 'DRK' 'NWN' 'LIS' 'MSD' 'AGR' 'CSM'
 'ENQ' 'HCC' 'USB' 'FRC' 'RKB' 'PCH' 'AMB' 'L15' 'BBK' 'L21' 'SYN' 'L01'
 'MOP' 'UCA' 'ESN' 'IMP' 'AVN' 'RMG' 'DNA' 'L04' 'AML' 'AIR' 'DUR' 'LHJ'
 'WKB' 'STL' 'DCD' 'IMA' 'ACS' 'ALZ' 'NEX' 'HAR' 'SGI' 'MBC' 'BSH' 'NAD'
 'HOS' 'HHL' 'GRT' 'L02' 'APP' 'DAC' 'BHG' 'NSH' 'NPT' 'L16' 'PV3' 'LOG'
 'ASC' 'AGS' 'ARG' 'DON' 'VIK' 'ARB' 'HHH' 'ANT' 'WRG' 'PBL' 'OMH' 'CRG'
 'UBA' 'ASH' 'COK' 'RPH' 'STV' 'NAS' 'SSS' 'LEO' 'KNG' 'KIP' 'ASS' 'GDA'
 'STR' 'CAW' 'GET' 'HAN' 'DEL' 'FLD' 'L25' 'MER' 'SYC' 'HAM' 'PSM' 'HIL'
 'SPN' 'DNB' 'GPS' 'ASP' 'INN' 'ABW' 'CFI' 'JFY' 'LAK' 'LVT' 'RED' 'TIM'
 'MON' 'MM3' 'FAR' 'MTR' 'HOW' 'FOR' 'LKE' 'DBL' 'K3M' 'PGR' 'ADD' 'IML'
 'SMZ' 'CNT' 'SUN' 'MCC' 'BEL' 'TVF' 'TRN' 'PCL' 'HRB' 'OVS' 'WFD' 'TX2'
 'NWF' 'KEN' 'NSN' 'NEW' 'CJR' 'NHB' 'FCR' 'BSM' 'SIG' 'CHT' 'CAP' 'TVG'
 'SUF' 'PRV' 'TRO' 'GUR' 'WIG' 'MAT' 'D02' 'GLP' 'HEA' 'BLI' 'EAS' 'SFH'
 'PBK' 'TOR' 'HJR' 'MCO' 'IWD' 'HER' 'MB1' 'CHK' 'SHL' 'STA' 'EPL' 'WWC'
 'AHC' 'TV1' 'CHS' 'GAR' 'MGR' 'OD1' 'SPG' 'ADM' 'L11' 'PWR' 'SRN' 'DSN'
 'HFS' 'SMC' 'PGA' 'TPS' 'BED' 'CNC' 'L07' 'AKM' 'BAN' 'MBB' 'DDA' 'TVH'
 'BRE' 'YAL' 'L23' 'ROA' 'MV2' 'NSM' 'VTM' 'BRK' 'QUI' 'L03' 'SEB' 'COH'
 'STK' 'CMT' 'HHS' 'L22' 'DTM' 'CUL' 'HUT' 'EMI' 'MWD' 'LAN' 'SEP' 'IHD'
 'ASE' 'HDP' 'HHB' 'CCP' 'LIF' 'NPP' 'ARM' 'SCP' 'ASK' 'BMG' 'DPH' 'AQK'
 'PAR' 'CRN' 'AUS' 'SMM' 'DML' 'TVC' 'ARC' 'DTR' 'MAD' 'PHR' 'NG2' 'ADA'
 'SES' 'RCS' 'MBT' 'AQU' 'QNT' 'COS' 'LPN' 'AMJ' 'TAS' 'FIN' 'DLG' 'SPR'
 'UNV' 'IDM' 'MYO' 'MST' 'IDE' 'GPB' 'BTC' 'PLU' 'MIC' 'TX1' 'MDC' 'SEQ'
 'NTW' 'MNT' 'MC1' 'MYS' 'GHS' 'GOD' 'SHM' 'SCO' 'YKA' 'PME' 'NAP' 'SMS'
 'EP1' 'OUL' 'REF' 'L06' 'L0C' 'HMK' 'TYL' 'FIG' 'FOS' 'USS' 'SHE' 'DLM'
 'OLY' 'MCF' 'COW' 'RAY' 'ACT' 'NSL' 'EHR' 'TLB' 'YKD' 'NYH' 'OXM' 'ANN'
 'SH1' 'AHB' 'WLW' 'DHR' 'USA' 'NAM' 'MV1' 'OLD' 'GPD' 'RSC' 'MM2' 'NFB'
 'HEL' 'TRU' 'DOW' 'OHI' 'DLL' 'NCD' 'KUR' 'PCC' 'ACG' 'LRS' 'PTP' 'CED'
 'TRV' 'L0L' 'CRE' 'LCS' 'SMI' 'SFL' 'MM1' 'SYZ' 'WAL' 'SUM' 'PTS' 'AHL'
 'GCP' 'GLN' 'MSE' 'INB' 'NWD' 'WAR' 'JUD' 'SPT' 'FLM' 'NOR' 'STE' 'SST'
 'USU' 'FIV' 'HHV' 'DBD' 'BIB' 'MSB' 'ACC' 'ABC' 'SIM' 'FGM' 'HMP' 'LEE'
 'DRH' 'ENC' 'PBW' 'VIG' 'THM' 'HCK' 'EPS' 'RBA' 'MIL' 'HSP' 'CRH' 'GSC'
 'PUR' 'AMU' 'CNL' 'OHS' 'RPC' 'CFF' 'HVR' 'PUB' 'ACB' 'WIS' 'DWC' 'LEI'
 'DAT' 'SWI' 'AP1' 'ASD' 'DNL' 'FCC' 'MLF' 'MAY' 'BHL' 'DBT' 'TRA' 'SSZ'
 'MHM' 'PLN' 'SAT' 'ORG' 'FII' 'NES' 'NWL' 'CPB' 'WWF' 'ALD' 'BUY' 'EPI'
 'HHC' 'GBK' 'ATS' 'SPC' 'AIC' 'HRM' 'ISL' 'AR1' 'SSL' 'VBK' 'JHO' 'MGU'
 'YNF' 'TOG' 'GDF' 'TMX' 'ATP' 'NCC' 'HHN' 'SHU' 'SWP' 'VFW' 'JJG' 'MMK'
 'ADR' 'HTL' 'VSH' 'BOS' 'MSH' 'FWF' 'L14' 'TOT' 'HLQ' 'WTW' 'AHA' 'MFL'
 'AMT' 'EQM' 'DIA' 'CRT' 'WOR' 'LSH' 'CCI' 'FNC' 'NCS' 'CTH' 'LEM' 'TMT'
 'TOD' 'NPW' 'DUN' 'FAM' 'ALF' 'ABD' 'CIO' 'SEX' 'THE' 'NGR' 'L09' 'RBM'
 'BYL' 'TRI' 'LOB' 'TMW' 'BEE' 'WDY' 'RHM' 'AHR' 'WDH' 'PBY' 'SPM' 'FTH'
 'HLN' 'NET' 'RLT' 'NDL' 'HAC' 'CYB' 'CBL' 'NER' 'CIR' 'MIQ' 'DAY' 'SNR'
 'WMD' 'CHI' 'LIL' 'TWN' 'MWA' 'NWT' 'WBY' 'KNI' 'BFD' 'BBU' 'MTS' 'GEB'
 'ROM' 'VAE' 'L13' 'JCD' 'USN' 'DRL' 'L17' 'KOR' 'AVD' 'PPM' 'MIS' 'SCA'
 'TWM' 'CRP' 'NTC' 'HLA' 'OD2' 'DCK' 'SFW' 'STY' 'NHP' 'ALL' 'ABP' 'PNY'
 'ATL' 'GFM' 'ARE' 'DMI' 'SCL' 'STJ' 'AHN' 'CMF' 'BBO' 'PHO' 'CAT' 'SOP'
 'SLF' 'FRM' 'CLP' 'AUD' 'EAR' 'APL' 'BBT' 'PPD' 'AVS' 'GEN' 'JNC' 'AHM'
 'CLL' 'CVO' 'HTG' 'CTW' 'BBW' 'SCU' 'IHS' 'WIL' 'BAR' 'NUR' 'LRD' 'CNA'
 'SSN' 'WWM' 'COM' 'L24' 'BHW' 'HOR' 'PCA' 'FRN' 'SSC' 'RCW' 'BLV' 'VVM'
 'MGV' 'NCH' 'FST' 'NSA' 'FHN' 'CRM' 'PAT' 'AEW' 'SUR' 'LEG' 'NNS' 'ZOY'
 'MLK' 'FOP' 'TVM' 'USL' 'BML' 'NWP' 'NPL' 'OWN' 'EXP' 'PPL' 'SNW' 'BAS'
 'YAN' 'VDB' 'GSP' 'DAN' 'COP' 'QEC' 'CSC' 'IFS' 'CSP' 'ALS' 'FDP' 'PSC'
 'CPL' 'ESM' 'CRS' 'ELL' 'IRC' 'STP' 'AAD' 'MET' 'JLR' 'NYL' 'REG' 'MDB'
 'WND' 'AMV' 'CCB' 'SEL' 'CUI' 'HMV' 'PBC' 'SDF' 'IMC' 'CAB' 'ICK' 'MLJ'
 'JTB' 'SPH' 'NHR' 'FNH' 'KCP' 'HST' 'TLL' 'LST' 'TRE' 'ENT' 'VCS' 'AFP'
 'PRO' 'PAL' 'POI' 'RVP' 'NCE' 'BTY' 'SH3' 'NON' 'ACP' 'HFH' 'TFS' 'SHK'
 'POP' 'CGK' 'AMZ' 'BYB' 'AAA' 'HSC' 'WKC' 'EXS' 'CRL' 'RCH' 'KTB' 'PWD'
 'BHB' 'JRV' 'ECK' 'COL' 'INM' 'WRK' 'CDC' 'RNM' 'MRB' 'SWM' 'LA2' 'CJL'
 'RDM' 'CYR' 'SIW' 'SHP' 'BTR' 'HNZ' 'HPS' 'GFW' 'TRL' 'AMG' 'ISC' 'BLT'
 'HOL' 'SJS' 'ARZ' 'BDG' 'POS' 'CKD' 'D01' 'AWK' 'FSC' 'OPR' 'NSS' 'SPI'
 'MCN' 'PER' 'MBL' 'HSQ' 'CHW' 'FHL' 'CIL' 'USO' 'HCT' 'CVH' 'CRF' 'SMT'
 'RNT' 'CON' 'FDM' 'PRA' 'TSH' 'LA1' 'FLA' 'GLD' 'MPL' 'LE2' 'SAZ' 'AMR'
 'BUR' 'BEA' 'AHS' 'KIT' 'RNS' 'LON' 'MID' 'LED' 'CHB' 'EAL' 'GDM' 'REP'
 'SUC' 'FIF' 'NHE' 'PAV' 'PRT' 'NG1' 'TAB' 'RSM' 'BMS' 'ACL' 'LEW' 'SSM'
 'CKT' 'CCM' 'MWC' 'FPG' 'ROY' 'CSD' 'CMM' 'CNS' 'ERC' 'BET' 'GNC' 'HMM'
 'POW' 'WCP' 'LEA' 'SH2' 'LWN' 'DEF' 'GAD' 'EPF' 'SOC' 'HSF' 'ACR' 'HCA'
 'HHA' 'LUK' 'GFD' 'WER' 'SLS' 'ACN' 'CVP' 'ORT' 'VGL' 'ASB' 'HHD' 'HWB'
 'NCF' 'TVP' 'AMS' 'SCT' 'SDP' 'BIR' 'STU' 'CHR' 'AKF' 'NCM' 'CMB' 'HPR'
 'L20' 'HYP' 'IAP' 'PEN' 'DNC' 'IDL' 'BRP' 'AAM' 'WLD' 'CAM' 'NPA' 'UPP'
 'COY' 'MGA' 'BKS' 'CMP' 'CHM' 'BRC' 'AME' 'INT' 'NRM' 'TRS' 'MDD' 'DEC'
 'SUP' 'TMS' 'MFA' 'TCW' 'RRR' 'CTY' 'BCN' 'SAL' 'INC' 'CCS' 'ICR' 'PRE'
 'AGF' 'UNI' 'GFT' 'NUM' 'MEN' 'JTA' 'WRT' 'SNU' 'EWK' 'AFR' 'SE1' 'MAS'
 'VXW' 'CGS' 'PKS' 'FRA' 'FMK' 'MDA' 'MEC' 'UNQ' 'SEA' 'MYK' 'MSC' 'MSP'
 'HRT' 'MRC' 'ANR' 'NPS' 'CDN' 'CCC' 'CYD' 'SIF' 'EAT' 'CHD' 'CMS' 'HSL'
 'SEW' 'SSB' 'IAW' 'BLU' 'NSC' 'CAC' 'LHL' 'CWS' 'HUD' 'GRD' 'IBC' 'JAY'
 'ACD' 'ARF' 'AI2' 'SOD' 'GHM' 'RMI' 'RNC' 'VIC']

Unique values for STATE:
['IL' 'CA' 'NC' 'FL' 'AL' 'IN' 'LA' 'IA' 'TN' 'KS' 'MN' 'UT' 'MI' 'MO'
 'TX' 'OR' 'WA' 'WI' 'GA' 'OK' 'SC' 'KY' 'MD' 'SD' 'NV' 'NE' 'AZ' 'VA'
 'ND' 'AK' 'AR' 'NM' 'MT' 'MS' 'AP' 'CO' 'AA' 'HI' 'ME' 'WY' 'ID' 'OH'
 'NJ' 'MA' 'VT' 'NY' 'PA' 'DC' 'AE' 'CT' 'DE' 'WV' 'RI' 'GU' 'AS' 'NH'
 'VI']

Unique values for ZIP:
['61081' '91326' '27017' ... '55932' '92581' '32776-']

Unique values for NOEXCH:
['0' '1' 'X' 0 1 nan]

Unique values for MDMAUD:
['XXXX' 'C1CM' 'D1CM' 'L1CM' 'C2CM' 'D2CM' 'I1CM' 'I2MM' 'I1LM' 'L2CM'
 'C1MM' 'C1LM' 'D5CM' 'I2CM' 'D5TM' 'L1LM' 'D5MM' 'C2MM' 'I5CM' 'C5CM'
 'I5MM' 'C2LM' 'C5MM' 'D2MM' 'L1MM' 'L2LM' 'C5TM' 'L2TM']

Unique values for DOMAIN:
['T2' 'S1' 'R2' 'S2' 'T1' 'R3' 'U1' 'C2' 'C1' 'U3' nan 'R1' 'U2' 'C3' 'U4'
 'S3' 'T3']

Unique values for CLUSTER:
['36' '14' '43' '44' '16' '40' '39' '45' '35' '53' '17' '51' '2' '20' '27'
 '12' '22' '13' '8' '25' '15' nan '42' '11' '28' '18' '24' '34' '5' '31'
 '32' '46' '3' '50' '7' '37' '10' '38' '21' '9' '29' '30' '4' '41' '49'
 '23' '33' '1' '47' '26' '48' '19' '6' '52']

Unique values for HOMEOWNR:
[nan 'H' 'U']

Unique values for GENDER:
['F' 'M' nan 'C' 'U' 'J' 'A']

Unique values for DATASRCE:
[nan '3' '1' '2']

Unique values for RFA_2:
['L4E' 'L2G' 'L2F' 'L1F' 'L1E' 'L3E' 'L4D' 'L1G' 'L3D' 'L2E' 'L3F' 'L3G'
 'L4F' 'L4G']

Unique values for RFA_3:
['S4E' 'A2G' 'A2F' 'A1F' 'A1E' 'A3E' 'F1F' 'N2F' 'S4D' 'A1G' 'S2D' 'F1G'
 nan 'S2E' 'N1G' 'S2G' 'A3F' 'S3G' 'S3F' 'S3D' 'S2F' 'A4E' 'N1F' 'A4D'
 'S3E' 'A3G' 'N3E' 'A4F' 'A1D' 'N3G' 'N2E' 'A2E' 'F1E' 'S4F' 'S4G' 'N2G'
 'L1G' 'N3F' 'A4G' 'A3D' 'A2D' 'N4F' 'N4D' 'L1F' 'L2F' 'N4E' 'L2G' 'N4G'
 'F1C' 'L3G' 'N2C' 'F1D' 'N1E' 'N2D' 'L3F' 'L4E' 'N1D' 'N3D' 'L3E' 'S2B'
 'L4F' 'S2C' 'L4G' 'A3C' 'S4C' 'S4B' 'A4C' 'A2C' 'S3B' 'N1C' 'S3C']

Unique values for RFA_4:
['S4E' 'A2G' 'A2F' 'A1F' 'A1E' 'A3E' 'F1F' 'N2F' 'S4D' 'A1G' 'S2D' 'F1G'
 nan 'S2E' 'N1G' 'S2G' 'A3F' 'S3G' 'S3F' 'S3D' 'S2F' 'A4E' 'N1F' 'A4D'
 'A2D' 'S3E' 'A3G' 'N3E' 'A4F' 'N3G' 'N2E' 'A2E' 'F1E' 'S4F' 'S4G' 'N2G'
 'L1G' 'N3F' 'A4G' 'A3D' 'N4F' 'N4D' 'L1F' 'L2F' 'N4E' 'N3D' 'L2G' 'N4G'
 'N2C' 'L3G' 'F1D' 'N1E' 'N2D' 'L3F' 'A1D' 'A3C' 'L4F' 'S2C' 'L4G' 'S4C'
 'S4B' 'A4C' 'S3B' 'S3C']

Unique values for RFA_6:
['S4E' 'A2G' 'A1D' 'A1F' 'A1E' 'A3E' 'F1F' 'N2F' 'S3D' 'A1G' 'A2F' 'L1E'
 'I3G' 'S2D' 'F1G' 'S3E' 'S2E' 'A4E' 'A4D' 'N1F' 'N2G' 'S3G' 'A3F' 'S2G'
 'S4G' 'N1E' 'S4F' 'L2E' 'I2E' 'A2E' 'L2D' nan 'N4E' 'A4F' 'S4D' 'S3F'
 'I1E' 'I2F' 'L1F' 'A3G' 'N2E' 'N3E' 'N3F' 'N4G' 'L4F' 'S2F' 'N2D' 'A2D'
 'I1G' 'L2F' 'F1E' 'N1G' 'N1D' 'A4G' 'N4D' 'L1G' 'L2G' 'L1D' 'A3D' 'N3G'
 'F1D' 'A1C' 'I4E' 'I4F' 'L3E' 'L4E' 'N4F' 'L3F' 'I3F' 'A1A' 'I1F' 'L3D'
 'I2G' 'F1C' 'S4C' 'N3D' 'L4D' 'A2C' 'L3G' 'L1C' 'A4C' 'P1F' 'S2C' 'A3C'
 'U1E' 'U1F' 'L4G' 'I4G' 'I3E' 'N1C' 'S3B' 'U1G' 'S2B' 'U1D' 'S3C' 'A1B'
 'L3C' 'N2C' 'P1G' 'L4C' 'S4B' 'A3B' 'N3C' 'I4D' 'U1C' 'P1A' 'A2B' 'L2C'
 'I1D']

Unique values for RFA_7:
['S4E' 'A1E' 'S4F' 'I2D' 'A2F' 'S2E' 'A3E' 'S2F' 'A1F' 'P1F' 'F1F' nan
 'S3G' 'A3F' 'A1D' 'N2F' 'S2D' 'F1G' 'N3E' 'A2E' 'N2G' 'A3G' 'A1G' 'N1E'
 'A4F' 'L2E' 'N1F' 'S4D' 'L3D' 'N4E' 'P1G' 'N1G' 'A2G' 'L2F' 'A4D' 'S3E'
 'S3F' 'A2C' 'L1E' 'A3D' 'L1F' 'A4G' 'P1A' 'N2E' 'L3G' 'F1E' 'L2G' 'A4E'
 'S2G' 'S4G' 'A2D' 'N4D' 'N1D' 'S3D' 'N3F' 'P1E' 'L4F' 'F1D' 'L3F' 'S3C'
 'L3E' 'A4C' 'N2D' 'N3D' 'L1D' 'N3G' 'L4E' 'L1G' 'P1D' 'N4F' 'I2G' 'I1G'
 'I3F' 'L2D' 'P1C' 'A3C' 'A1C' 'L4D' 'N2C' 'L4G' 'N4G' 'I4G' 'S4C' 'S2C'
 'S4B' 'I4F' 'I3G' 'F1C' 'N3C' 'S3B' 'I2F' 'I2E' 'A3B' 'A1B' 'U1G' 'I3E'
 'N4C' 'N1C' 'S2B' 'A4B' 'I4D' 'I3D' 'I4E' 'A2B' 'L4C' 'L3C']

Unique values for RFA_8:
['S4E' 'A1E' 'S4F' 'A2F' 'S2E' 'A3E' 'S2F' 'A1F' 'P1F' 'F1F' 'S2C' 'S3G'
 'A3F' nan 'A1D' 'N2F' 'S2D' 'F1G' 'A1G' 'N3E' 'A2E' 'A3D' 'N2G' 'A3G'
 'N1E' 'A4F' 'L2E' 'N1F' 'S4D' 'L3D' 'N4E' 'P1G' 'S3D' 'N1G' 'A2G' 'L2F'
 'A4D' 'S3E' 'S3F' 'A2C' 'L1E' 'L1F' 'A4G' 'N2E' 'L3G' 'F1E' 'L2G' 'F1D'
 'A4E' 'S2G' 'S4G' 'N1D' 'A2D' 'N4D' 'N3F' 'P1E' 'L4F' 'L3F' 'S3C' 'L3E'
 'A4C' 'P1A' 'N2D' 'N3D' 'L1D' 'L1G' 'N4G' 'N3G' 'L4E' 'P1D' 'N4F' 'I2G'
 'I1G' 'I3F' 'L2D' 'I3G' 'P1C' 'U1F' 'S4C' 'A3C' 'A1C' 'F1C' 'L4D' 'L4G'
 'A1B' 'N2C' 'I4G' 'U1E' 'S4B' 'U1G' 'N3C' 'I2D' 'S3B' 'I4F' 'I2F' 'N1C'
 'N4C' 'I2E' 'A3B' 'S2B' 'U1C' 'A2B' 'U1D' 'A4B' 'I3D' 'I4E' 'L4C' 'I3E'
 'L3C']

Unique values for RFA_9:
['S4E' 'A1E' 'S4F' 'A2F' 'S3E' 'A3E' 'S2F' 'A1F' nan 'S2C' 'S2G' 'A3F'
 'L1E' 'U1G' 'A1D' 'N2F' 'S2D' 'A1G' 'N2E' 'L1G' 'A2E' 'A4D' 'F1F' 'N2G'
 'A3G' 'N1E' 'F1G' 'S3G' 'A4F' 'S2E' 'N1F' 'S3D' 'N3E' 'N4E' 'S4D' 'F1E'
 'N1G' 'A2G' 'P1G' 'L2F' 'N4D' 'L3E' 'A3C' 'A3D' 'F1D' 'L3G' 'S3F' 'L2G'
 'A4E' 'S4G' 'L1D' 'A2D' 'I1G' 'N1D' 'N3D' 'N2D' 'L1F' 'P1F' 'I2E' 'S3C'
 'L2E' 'L4E' 'A4C' 'L3F' 'S3B' 'N3F' 'N4G' 'I2F' 'N3G' 'L2D' 'L3D' 'N4F'
 'A4G' 'A1A' 'A1C' 'I4E' 'I3G' 'S4C' 'P1E' 'L4G' 'U1F' 'N2A' 'L4F' 'L4D'
 'A1B' 'N2C' 'I3E' 'I2G' 'F1C' 'N1C' 'A2C' 'I4G' 'N3C' 'I3F' 'P1D' 'P1C'
 'P1A' 'I4F' 'I1F' 'N4C' 'S4B' 'A4B' 'S2B' 'A2B' 'A3B' 'U1D' 'I1E']

Unique values for RFA_11:
['S4E' 'A1E' 'S4F' 'A2F' 'S3E' 'A2D' 'A1F' nan 'P1F' 'L1D' 'S2G' 'A3F'
 'L1E' 'A1D' 'N1F' 'S2D' 'P1G' 'N2E' 'L1G' 'A2E' 'F1F' 'N2G' 'A3G' 'N1E'
 'A1G' 'A4G' 'F1E' 'A4F' 'S2E' 'N3E' 'A3E' 'N4E' 'S4D' 'S4G' 'S3D' 'N1G'
 'A2G' 'L2F' 'N4D' 'L3E' 'S3F' 'A4C' 'L3F' 'S3G' 'F1D' 'S2F' 'L2G' 'F1G'
 'A3D' 'I1G' 'A4D' 'N1D' 'N2F' 'N3D' 'N2D' 'A4E' 'L1F' 'P1A' 'I2E' 'P1D'
 'L2E' 'L4E' 'S4B' 'N3F' 'P1E' 'N4G' 'I2F' 'I1F' 'S4C' 'N3G' 'L2D' 'L3D'
 'A1C' 'I3G' 'L3G' 'N4F' 'L4G' 'I4E' 'L4F' 'P1C' 'A1B' 'N2C' 'I3E' 'I2G'
 'F1C' 'A3C' 'S3C' 'I4G' 'A2C' 'N3C' 'I3F' 'L4D' 'S2C' 'S3B' 'I4F' 'N4C'
 'N1C' 'A3B' 'A4B' 'S2B' 'A2B']

Unique values for RFA_12:
['S4E' 'A1E' 'S4F' 'A2F' 'S3E' 'A2D' 'A1F' nan 'P1F' 'L1D' 'S2G' 'A3F'
 'L1E' 'A1D' 'N1F' 'S2D' 'P1G' 'A1G' 'N2E' 'L1G' 'A2E' 'F1F' 'N2G' 'A3G'
 'N1E' 'A4G' 'F1E' 'A4F' 'S2E' 'N3E' 'A3E' 'N4E' 'S4D' 'S4G' 'S3D' 'N1G'
 'A2G' 'L2F' 'N4D' 'L3E' 'S3F' 'A4C' 'L3F' 'S3G' 'F1D' 'S2F' 'L2G' 'F1G'
 'A3D' 'I1G' 'P1A' 'A4D' 'N1D' 'N2F' 'N3D' 'N2D' 'A4E' 'L1F' 'U1F' 'P1E'
 'I2E' 'P1D' 'L2E' 'L4E' 'S4B' 'N3F' 'N4G' 'I2F' 'I1F' 'S4C' 'N3G' 'L2D'
 'L3D' 'A1C' 'I3G' 'L3G' 'N4F' 'L4G' 'I4E' 'U1G' 'U1D' 'L4F' 'P1C' 'A1B'
 'N2C' 'U1E' 'I2G' 'F1C' 'A3C' 'S3C' 'I4G' 'A2C' 'N3C' 'I3F' 'L4D' 'S2C'
 'S3B' 'I4F' 'I3E' 'N4C' 'U1C' 'F1B' 'N1C' 'A3B' 'A4B' 'S2B' 'A2B']

Unique values for RFA_14:
['S4E' nan 'S4F' 'L3D' 'A2F' 'S2E' 'A1D' 'A1F' 'S2G' 'A3F' 'F1F' 'S2D'
 'N2E' 'L1G' 'A1E' 'S3E' 'P1F' 'A2G' 'F1E' 'P1G' 'A1G' 'A3G' 'A4F' 'A2E'
 'A2D' 'A4E' 'S4D' 'S4G' 'S3D' 'S3F' 'F1G' 'A4G' 'L2F' 'N3D' 'L4E' 'A3C'
 'L3F' 'N1F' 'P1D' 'P1E' 'N1D' 'L1F' 'N2D' 'S2F' 'N2F' 'L3E' 'N2G' 'N1E'
 'S3G' 'F1D' 'A3D' 'A4D' 'A3E' 'N3E' 'N2C' 'L4G' 'N3G' 'A4C' 'L2E' 'S4B'
 'N1C' 'S4C' 'N4E' 'L4F' 'N1G' 'A1C' 'I3F' 'P1A' 'L2G' 'A4B' 'I3G' 'N4D'
 'U1D' 'N3F' 'A2C' 'L3G' 'S2C' 'S3C' 'P1C' 'F1C' 'N4G' 'L4D' 'N4F' 'S3B'
 'I3E' 'I4G' 'S2B' 'N4C' 'N3C' 'N2B' 'I4F' 'A3B' 'U1E' 'I4E' 'L2D']

Unique values for RFA_16:
['S4E' 'L1E' 'S4F' 'L3D' 'N3F' 'S3E' 'N2D' 'A1F' 'A1E' nan 'L1D' 'S2G'
 'A2F' 'N1E' 'S2D' 'F1F' 'N2G' 'F1D' 'L2G' 'S2E' 'I1D' 'A2D' 'A2G' 'F1E'
 'A1G' 'I1E' 'A4F' 'S4D' 'A2E' 'A1D' 'N2E' 'A4E' 'U1G' 'S4G' 'F1G' 'N3G'
 'L2E' 'L1G' 'S2F' 'N2C' 'S3F' 'N4C' 'L2F' 'L2C' 'N1F' 'N2F' 'A3E' 'L1F'
 'L2D' 'A3F' 'I3D' 'N4D' 'N4F' 'I3F' 'S3D' 'F1C' 'A4G' 'L3F' 'S3G' 'L3E'
 'I1F' 'N3D' 'S3C' 'A1C' 'A2C' 'L4F' 'S4B' 'I1G' 'A4D' 'A1B' 'S4C' 'L4D'
 'A3D' 'L4E' 'N4E' 'N3E' 'I2F' 'I3E' 'N1C' 'L3G' 'A3G' 'I2G' 'N4G' 'U1D'
 'N1D' 'L1C' 'U1F' 'A2B' 'L4G' 'U1E' 'I2E' 'F1A' 'I4E' 'N1G' 'I2D' 'A4C'
 'I4D' 'N1B' 'S2C' 'L4C' 'A1A' 'A3C' 'I4F' 'N3C' 'U1C' 'I4G' 'S2B' 'I2C'
 'A4B' 'I1C' 'F1B' 'N2B' 'I3G' 'I1B' 'L3C' 'S3B' 'P1D' 'S2A' 'A3B' 'P1E'
 'S4A' 'P1C' 'I3C']

Unique values for RFA_17:
['S4E' nan 'S2D' 'A2D' 'N2E' 'S2E' 'N2D' 'A1F' 'A1E' 'A1D' 'A2E' 'N1E'
 'A1G' 'L1D' 'P1F' 'L4F' 'A2F' 'A3E' 'L1E' 'P1E' 'A4F' 'S4D' 'P1A' 'N3D'
 'N4E' 'S2G' 'S3G' 'S2F' 'F1C' 'S3E' 'S3F' 'N3C' 'F1F' 'F1D' 'L2G' 'L3E'
 'A2G' 'N1D' 'A3G' 'N1F' 'L2F' 'S4F' 'P1G' 'F1E' 'L1F' 'L3D' 'S3D' 'L1G'
 'L2D' 'P1D' 'N3F' 'A4E' 'I1E' 'P1C' 'S4G' 'L2E' 'N4F' 'N1G' 'I1F' 'S4C'
 'A3F' 'A2C' 'A3D' 'N2C' 'A4G' 'L2C' 'N2F' 'I2E' 'L3G' 'A4D' 'I2G' 'F1G'
 'A4C' 'L3F' 'N2G' 'S3C' 'N4D' 'L4D' 'I4E' 'N1C' 'I2F' 'N4G' 'L4E' 'L1C'
 'A1C' 'I1G' 'L4G' 'N3E' 'I3E' 'A1B' 'N3G' 'U1F' 'S4B' 'I3F' 'U1D' 'I4D'
 'S2C' 'I2D' 'I1D' 'A3C' 'U1E' 'I4F' 'I3D' 'S2B' 'L3C' 'N4C' 'A4B' 'I3G'
 'I4G' 'A2B' 'S2A' 'L4C' 'S3B' 'U1G' 'A3B' 'N2B' 'A4A' 'S4A']

Unique values for RFA_18:
['S4E' nan 'S4D' 'S2D' 'A2D' 'N2E' 'S2E' 'N2D' 'A1F' 'A1E' 'A1D' 'A2E'
 'N1E' 'I1G' 'A1G' 'U1F' 'L1D' 'P1F' 'L4F' 'A2F' 'P1E' 'L1E' 'A2G' 'A3E'
 'N3D' 'N4E' 'S2G' 'S3G' 'N1D' 'A4F' 'S2F' 'F1C' 'S3E' 'S3F' 'N3C' 'F1F'
 'F1D' 'L2G' 'L3E' 'A3G' 'N1F' 'L2F' 'S4F' 'P1G' 'F1E' 'L1F' 'L3D' 'S3D'
 'L1G' 'P1D' 'L2D' 'N3F' 'A4E' 'I1E' 'P1C' 'S4G' 'L2E' 'N4F' 'N1G' 'I1F'
 'S4C' 'A3F' 'N4D' 'A2C' 'A3D' 'N2C' 'A4G' 'L2C' 'S4B' 'N2F' 'I2E' 'L3G'
 'A4D' 'I2G' 'F1G' 'A4C' 'L3F' 'U1E' 'N2G' 'S3C' 'U1D' 'S2C' 'L4D' 'I4E'
 'N1C' 'I2F' 'N4G' 'L4E' 'L1C' 'A1C' 'A2B' 'L4G' 'N3E' 'I3E' 'P1A' 'N3G'
 'I3F' 'I4D' 'A1B' 'U1G' 'I2D' 'I1D' 'A3C' 'I4F' 'N4C' 'I3D' 'S2B' 'I3G'
 'L3C' 'A4B' 'N2B' 'P1B' 'U1C' 'S3B' 'A3B' 'S2A' 'L4C' 'S3A' 'I4G' 'S4A'
 'A4A' 'N3B']

Unique values for RFA_19:
['S4E' 'N1E' 'S4D' 'A1D' 'A3D' 'N2E' 'A2E' 'N2D' 'A1F' nan 'F1E' 'I1G'
 'N2G' 'A1G' 'S2E' 'L1D' 'A2D' 'L4F' 'A2F' 'S2F' 'L1E' 'A1E' 'S3E' 'N3D'
 'N1D' 'N4E' 'S3G' 'S2D' 'S2G' 'A3E' 'A4F' 'P1C' 'S3F' 'A1C' 'L2G' 'F1F'
 'A2G' 'A3G' 'L3E' 'N1F' 'P1D' 'L2E' 'N2F' 'S4F' 'N3F' 'L1F' 'P1E' 'F1C'
 'L1G' 'L2D' 'U1F' 'I2F' 'A3F' 'L2F' 'A4D' 'S3D' 'A4G' 'N1G' 'S4G' 'S4C'
 'L3G' 'A3C' 'S2C' 'I1F' 'N3C' 'A4E' 'S4B' 'F1D' 'S3C' 'N4F' 'P1F' 'N3E'
 'I2G' 'F1G' 'A4C' 'L3F' 'N2C' 'N4D' 'N4G' 'P1G' 'L4E' 'U1E' 'A1B' 'L4D'
 'A1A' 'N3G' 'U1D' 'L3D' 'I4F' 'N2B' 'L4G' 'A2B' 'P1A' 'I3F' 'N1C' 'S2B'
 'A2C' 'N4C' 'S3B' 'A4B' 'I4G' 'S3A' 'I3G' 'U1G' 'P1B' 'S4A' 'L4C' 'A4A']

Unique values for RFA_22:
['S4E' 'N1E' 'S4D' 'A1D' 'I4E' 'N2E' 'A2E' 'N2D' 'A1F' nan 'S2F' 'F1E'
 'I1G' 'P1F' 'N2G' 'P1D' 'A1G' 'S2E' 'L1D' 'L4F' 'A2F' 'A4E' 'L1E' 'A1E'
 'N3D' 'P1E' 'N1D' 'N4E' 'S3G' 'S2G' 'P1G' 'A3E' 'A3F' 'S3E' 'S2D' 'S3D'
 'I1E' 'F1C' 'S3F' 'A1C' 'A2G' 'L4E' 'F1F' 'F1D' 'L2E' 'N2F' 'S4F' 'L1F'
 'L4D' 'A3G' 'L1G' 'L2D' 'A2D' 'I2F' 'L2F' 'A4D' 'P1C' 'A4G' 'N3F' 'N1G'
 'S4G' 'A4F' 'I4F' 'S3C' 'I2E' 'L3G' 'S2C' 'A2C' 'L3F' 'I1F' 'S4B' 'N1F'
 'A3D' 'L3E' 'I2G' 'L2G' 'A4C' 'S4C' 'U1E' 'N2C' 'I3F' 'N3G' 'N4F' 'N4D'
 'A3C' 'N3E' 'I4G' 'A1B' 'I3G' 'P1A' 'N4G' 'L3D' 'N1C' 'F1G' 'N3C' 'N2B'
 'A2B' 'I3D' 'I4D' 'L4G' 'I3E' 'U1G' 'S2B' 'U1F' 'A4B' 'I2D' 'S3B' 'S3A'
 'N4C' 'P1B' 'U1D' 'U1C' 'A1A' 'S4A' 'F1B' 'L4C' 'A4A']

Unique values for RFA_2R:
['L']

Unique values for RFA_2A:
['E' 'G' 'F' 'D']

Unique values for MDMAUD_R:
['X' 'C' 'D' 'L' 'I']

Unique values for MDMAUD_F:
['X' '1' '2' '5']

Unique values for MDMAUD_A:
['X' 'C' 'M' 'L' 'T']

Unique values for GEOCODE2:
['C' 'A' 'D' 'B' nan]

In [18]:
def check_column_type(series):
    non_null_values = series.dropna().astype(str)

    is_numeric = non_null_values.str.isdigit().all()
    is_alpha = non_null_values.str.isalpha().all()

    if is_numeric:
        return "numeric"
    elif is_alpha:
        return "letters"
    elif any(non_null_values.str.isdigit()) and any(non_null_values.str.isalpha()):
        return "mixed"
    else:
        return "other"

column_types = pd.DataFrame({'Column': categorical_df.columns,
                             'Type': [check_column_type(categorical_df[col]) for col in categorical_df.columns]})

print(column_types.to_markdown(index = False))

| Column   | Type    |
|:---------|:--------|
| OSOURCE  | other   |
| STATE    | letters |
| ZIP      | other   |
| NOEXCH   | mixed   |
| MDMAUD   | other   |
| DOMAIN   | other   |
| CLUSTER  | numeric |
| HOMEOWNR | letters |
| GENDER   | letters |
| DATASRCE | numeric |
| RFA_2    | other   |
| RFA_3    | other   |
| RFA_4    | other   |
| RFA_6    | other   |
| RFA_7    | other   |
| RFA_8    | other   |
| RFA_9    | other   |
| RFA_11   | other   |
| RFA_12   | other   |
| RFA_14   | other   |
| RFA_16   | other   |
| RFA_17   | other   |
| RFA_18   | other   |
| RFA_19   | other   |
| RFA_22   | other   |
| RFA_2R   | letters |
| RFA_2A   | letters |
| MDMAUD_R | letters |
| MDMAUD_F | mixed   |
| MDMAUD_A | letters |
| GEOCODE2 | letters |

In [19]:
drop_list = []
drop_list.append('OSOURCE')
drop_list.append('ZIP')
categorical_df.drop(columns = drop_list, inplace = True)

In [20]:
print (categorical_df['GENDER'].value_counts())
print (categorical_df['GENDER'].isna().sum())

GENDER
F    51277
M    39094
U     1715
J      365
C        2
A        2
Name: count, dtype: int64
2957

In [21]:
categorical_df['GENDER'] = categorical_df['GENDER'].apply(lambda x: x if x in ['M', 'F'] else 'other')

In [22]:
print (categorical_df['GENDER'].value_counts())
print (categorical_df['GENDER'].isna().sum())

GENDER
F        51277
M        39094
other     5041
Name: count, dtype: int64
0

In [23]:
print (categorical_df['GEOCODE2'].value_counts())
print (categorical_df['GEOCODE2'].dtype)
print (categorical_df['GEOCODE2'].isna().sum())

GEOCODE2
A    34484
B    28505
D    16580
C    15524
Name: count, dtype: int64
object
319

In [24]:
categorical_df = categorical_df[categorical_df['GEOCODE2'].notna()]
categorical_df['GEOCODE2'].replace('nan', 'A', inplace = True)

In [25]:
print (categorical_df['GEOCODE2'].value_counts())
print (categorical_df['GEOCODE2'].isna().sum())

GEOCODE2
A    34484
B    28505
D    16580
C    15524
Name: count, dtype: int64
0

In [26]:
categorical_df.columns

Index(['STATE', 'NOEXCH', 'MDMAUD', 'DOMAIN', 'CLUSTER', 'HOMEOWNR', 'GENDER',
       'DATASRCE', 'RFA_2', 'RFA_3', 'RFA_4', 'RFA_6', 'RFA_7', 'RFA_8',
       'RFA_9', 'RFA_11', 'RFA_12', 'RFA_14', 'RFA_16', 'RFA_17', 'RFA_18',
       'RFA_19', 'RFA_22', 'RFA_2R', 'RFA_2A', 'MDMAUD_R', 'MDMAUD_F',
       'MDMAUD_A', 'GEOCODE2'],
      dtype='object')

In [27]:
categorical_df.isna().sum().sum()

236154

In [28]:
null_cat = categorical_df.isna().sum()/len(donors)
null_cat = pd.DataFrame(null_cat).reset_index()
null_cat.columns = ['column_names','percentage_of_nulls']
null_cat = null_cat.sort_values(by = 'percentage_of_nulls', ascending = False )

threshold = 0.3
condition = null_cat['percentage_of_nulls'] < threshold
columns_below_threshold_cat = null_cat[condition]
columns_below_threshold_cat

   column_names  percentage_of_nulls
19       RFA_17             0.288716
22       RFA_22             0.267954
21       RFA_19             0.255649
5      HOMEOWNR             0.231218
20       RFA_18             0.222016
7      DATASRCE             0.221324
18       RFA_16             0.213223
17       RFA_14             0.196946
14        RFA_9             0.117375
15       RFA_11             0.108760
16       RFA_12             0.093196
12        RFA_7             0.092588
11        RFA_6             0.037081
13        RFA_8             0.036641
10        RFA_4             0.024064
4       CLUSTER             0.024001
3        DOMAIN             0.024001
9         RFA_3             0.020270
1        NOEXCH             0.000073
24       RFA_2A             0.000000
25     MDMAUD_R             0.000000
26     MDMAUD_F             0.000000
27     MDMAUD_A             0.000000
0         STATE             0.000000
23       RFA_2R             0.000000
8         RFA_2             0.000000
6        GENDER             0.000000
2        MDMAUD             0.000000
28     GEOCODE2             0.000000

In [29]:
from sklearn.impute import SimpleImputer

def impute_mode_for_categorical(df, threshold = 0.1):
 
    for column in df.columns:
        missing_percentage = df[column].isnull().mean()
        
        if missing_percentage > threshold:
            continue  # Skip columns with missing values above the threshold
        
        imputer = SimpleImputer(strategy = 'most_frequent')
        df[column] = imputer.fit_transform(df[[column]]).ravel()


impute_mode_for_categorical(categorical_df, threshold = 0.1)

categorical_df.isna().sum().sum()

202577

In [30]:
def proportional_imputation(df):
    for column in df.columns:
        value_counts = df[column].value_counts(normalize = True)
        
        nan_indices = df[df[column].isna()].index
        
        fill_values = np.random.choice(value_counts.index, size = len(nan_indices), p = value_counts.values)
        
        df.loc[nan_indices, column] = fill_values
        
    return df

categorical_df = proportional_imputation(categorical_df)

In [31]:
categorical_df.isna().sum().sum()

0

In [32]:
categorical_df.shape

(95093, 29)

In [33]:
categorical_df = categorical_df.astype(str)

In [34]:
numerical_df = donors.select_dtypes(include = ['number'])
numerical_df

,ODATEDW,TCODE,DOB,AGE,INCOME,HIT,MALEMILI,MALEVET,VIETVETS,WWIIVETS,...,FISTDATE,NEXTDATE,TIMELAG,AVGGIFT,CONTROLN,TARGET_B,TARGET_D,HPHONE_D,RFA_2F,CLUSTER2
0,8901,0,3712,60.0,NaN,0,0,39,34,18,...,8911,9003.0,4.0,7.741935,95515,0,0.0,0,4,39.0
1,9401,1,5202,46.0,6.0,16,0,15,55,11,...,9310,9504.0,18.0,15.666667,148535,0,0.0,0,2,1.0
2,9001,1,0,NaN,3.0,2,0,20,29,33,...,9001,9101.0,12.0,7.481481,15078,0,0.0,1,4,60.0
3,8701,0,2801,70.0,1.0,2,0,23,14,31,...,8702,8711.0,9.0,6.812500,172556,0,0.0,1,4,41.0
4,8601,0,2001,78.0,3.0,60,1,28,9,53,...,7903,8005.0,14.0,6.864865,7112,0,0.0,1,2,26.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,9601,1,0,NaN,NaN,0,14,36,47,11,...,9602,NaN,NaN,25.000000,184568,0,0.0,0,1,12.0
95408,9601,1,5001,48.0,7.0,1,0,31,43,19,...,9603,NaN,NaN,20.000000,122706,0,0.0,1,1,2.0
95409,9501,1,3801,60.0,NaN,0,0,18,46,20,...,9410,9501.0,3.0,8.285714,189641,0,0.0,1,3,34.0
95410,8601,0,4005,58.0,7.0,0,0,28,35,20,...,8612,8704.0,4.0,12.146341,4693,1,18.0,1,4,11.0
95411,8801,2,1801,80.0,5.0,3,1,33,22,27,...,8803,8809.0,6.0,96.794872,185114,0,0.0,1,1,12.0

In [35]:
numerical_df.nunique()

ODATEDW      54
TCODE        55
DOB         947
AGE          96
INCOME        7
           ...
TARGET_B      2
TARGET_D     71
HPHONE_D      2
RFA_2F        4
CLUSTER2     62
Length: 338, dtype: int64

In [36]:
numerical_df['TARGET_B'].isna().sum()

0

In [37]:
numerical_df.groupby('TARGET_B')['TARGET_D'].count()

TARGET_B
0    90569
1     4843
Name: TARGET_D, dtype: int64

In [38]:
target_1 = numerical_df[numerical_df['TARGET_B'] == 1]
target_1['TARGET_D'].describe()

count    4843.000000
mean       15.624344
std        12.445137
min         1.000000
25%        10.000000
50%        13.000000
75%        20.000000
max       200.000000
Name: TARGET_D, dtype: float64

In [39]:
target_0 = numerical_df[numerical_df['TARGET_B'] == 0]
target_0['TARGET_D'].describe()

count    90569.0
mean         0.0
std          0.0
min          0.0
25%          0.0
50%          0.0
75%          0.0
max          0.0
Name: TARGET_D, dtype: float64

In [40]:
target = pd.DataFrame(numerical_df['TARGET_B'])
target

       TARGET_B
0             0
1             0
2             0
3             0
4             0
...         ...
95407         0
95408         0
95409         0
95410         1
95411         0

[95412 rows x 1 columns]

In [41]:
numerical_df = numerical_df.drop (['TARGET_B','TARGET_D'], axis = 1)

In [42]:
numerical_df.isna().sum().sum()

254370

In [43]:
null_num = numerical_df.isna().sum()/len(donors)
null_num = pd.DataFrame(null_num).reset_index()
null_num.columns = ['column_names','percentage_of_nulls']
null_num = null_num.sort_values(by = 'percentage_of_nulls', ascending = False )

threshold = 0.3
condition = null_num['percentage_of_nulls'] < threshold
columns_below_threshold_num = null_num[condition]
columns_below_threshold_num

    column_names  percentage_of_nulls
310     ADATE_17             0.289796
313     ADATE_22             0.268813
312     ADATE_19             0.256572
3            AGE             0.248030
4         INCOME             0.223096
..           ...                  ...
111         HVP2             0.000000
110         HVP1             0.000000
109        ETHC6             0.000000
108        ETHC5             0.000000
168         TPE3             0.000000

[336 rows x 2 columns]

In [44]:
def impute_mean_for_numerical(df, threshold = 0.1):
 
    for column in df.columns:
        missing_percentage = df[column].isnull().mean()
        
        if missing_percentage > threshold:
            continue
        
        if np.issubdtype(df[column].dtype, np.number):
            imputer = SimpleImputer(strategy = 'mean')
            df[column] = imputer.fit_transform(df[[column]]).ravel()


impute_mean_for_numerical(numerical_df, threshold = 0.1)

numerical_df.isna().sum().sum()

224836

In [45]:
numerical_df = proportional_imputation(numerical_df)

In [46]:
numerical_df.isna().sum().sum()

0

In [47]:
numerical_df.shape

(95412, 336)

In [48]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
normalized_num = scaler.fit_transform(numerical_df)
normalized_num = pd.DataFrame(normalized_num, columns = numerical_df.columns)

In [49]:
donors_cleaned = pd.concat([target, normalized_num, categorical_df], axis = 1)

In [50]:
donors_cleaned

,TARGET_B,ODATEDW,TCODE,DOB,AGE,INCOME,HIT,MALEMILI,MALEVET,VIETVETS,...,RFA_17,RFA_18,RFA_19,RFA_22,RFA_2R,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,GEOCODE2
0,0,-0.699843,-0.056847,0.463551,-0.097196,0.064812,-0.356881,-0.206977,0.745798,0.284659,...,S4E,S4E,S4E,S4E,L,E,X,X,X,C
1,0,0.755960,-0.055799,1.162350,-0.936830,1.143067,1.362283,-0.206977,-1.346527,1.675602,...,A1G,A1E,N1E,N1E,L,G,X,X,X,A
2,0,-0.408683,-0.055799,-1.277349,1.282201,-0.474316,-0.141985,-0.206977,-0.910626,-0.046518,...,S4E,S4D,S4D,S4D,L,E,X,X,X,C
3,0,-1.282165,-0.056847,0.036299,0.502542,-1.552572,-0.141985,-0.206977,-0.649086,-1.040049,...,S2D,S2D,A1D,A1D,L,E,X,X,X,C
4,0,-1.573325,-0.056847,-0.338895,0.982332,-0.474316,6.089983,-0.009563,-0.213185,-1.371225,...,A2D,A2D,A3D,I4E,L,F,X,X,X,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,0,1.338282,-0.055799,-1.277349,-0.397065,-1.013444,-0.356881,2.556819,0.484257,1.145719,...,A3E,S2F,A1G,A1E,L,G,X,X,X,C
95408,0,1.338282,-0.055799,1.068082,-0.816882,1.682195,-0.249433,-0.206977,0.048356,0.880777,...,L1E,A2D,L1E,P1E,L,F,X,X,X,A
95409,0,1.047121,-0.055799,0.505291,-0.097196,-0.474316,-0.356881,-0.206977,-1.084987,1.079483,...,A1E,F1D,P1G,P1D,L,E,X,X,X,B
95410,1,-1.573325,-0.056847,0.600966,-0.217144,1.682195,-0.356881,-0.206977,-0.213185,0.350894,...,S2F,S2F,A1F,A1F,L,F,X,X,X,A
95411,0,-0.991004,-0.054750,-0.432694,1.102280,0.603939,-0.034538,-0.009563,0.222716,-0.510166,...,S3G,S3G,S4G,S3G,L,G,C,1,C,C

In [51]:
donors_cleaned.isna().sum().sum()

9251

In [52]:
y = donors_cleaned['TARGET_B']
X = donors_cleaned.drop(['TARGET_B'], axis = 1)

numericalX = X.select_dtypes(include = [np.number])
categoricalX = X.select_dtypes(exclude = [np.number])

from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder(drop='first').fit(categoricalX)
encoded_categorical = encoder.transform(categoricalX).toarray()
encoded_categorical = pd.DataFrame(encoded_categorical)

encoded_categorical.columns = [str(col) if isinstance(col, int) else col for col in encoded_categorical.columns]
X = pd.concat([numericalX, encoded_categorical], axis = 1)
X.isna().sum().sum()

0

In [53]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

train = pd.concat([X_train, y_train], axis = 1)
print(train['TARGET_B'].value_counts())
train

TARGET_B
0    72486
1     3843
Name: count, dtype: int64

,ODATEDW,TCODE,DOB,AGE,INCOME,HIT,MALEMILI,MALEVET,VIETVETS,WWIIVETS,...,1631,1632,1633,1634,1635,1636,1637,1638,1639,TARGET_B
79401,-1.573325,-0.055799,-0.198198,0.802411,0.064812,-0.141985,-0.206977,0.048356,-1.304990,1.996857,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0
86429,1.338282,-0.056847,0.833586,-0.517013,0.603939,-0.356881,-0.206977,-0.126004,-0.377695,0.302800,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0
76729,-0.991004,-0.055799,0.462144,-0.097196,0.603939,0.180358,-0.206977,1.007338,-0.907578,1.658045,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1
38838,-0.699843,-0.055799,-0.291996,0.922359,1.143067,0.610149,-0.009563,0.832978,-0.443930,0.472206,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0
83012,0.755960,-0.053702,0.739787,-0.397065,0.603939,1.899522,6.307686,-0.300365,-0.046518,-0.826571,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21243,-1.573325,-0.056847,-0.007318,0.502542,-0.474316,0.180358,0.187851,0.571437,-1.304990,-0.036011,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0
45891,1.338282,-0.054750,0.223896,0.262647,-0.474316,-0.356881,-0.206977,0.484257,-1.238755,1.658045,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0
42613,-1.282165,-0.055799,-1.277349,-1.356646,-1.013444,-0.356881,-0.206977,0.397077,-0.046518,0.528674,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1
43567,-1.573325,-0.055799,-0.289182,0.862385,0.603939,-0.249433,-0.206977,2.489402,-0.510166,-0.092480,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0
68268,-1.573325,-0.056847,-1.277349,2.181809,-1.013444,-0.356881,-0.206977,0.135536,-0.245224,0.246332,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0

In [54]:
from sklearn.linear_model import LogisticRegression

LR = LogisticRegression()
LR.fit(X_train, y_train)

pred = LR.predict(X_test)

LR.score(X_test, y_test)

0.9475973379447676

In [55]:
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score

print('precision: ', precision_score(y_test, pred))
print('recall: ', recall_score(y_test, pred))
print('f1: ', f1_score(y_test, pred))

precision:  0.5
recall:  0.001
f1:  0.001996007984031936

In [56]:
from imblearn.over_sampling import SMOTE

sm = SMOTE(random_state = 0, sampling_strategy = 1)

In [57]:
X_train_SMOTE, y_train_SMOTE = sm.fit_resample(X_train, y_train)

In [60]:
train_smote = pd.concat([X_train_SMOTE, y_train_SMOTE], axis = 1)

In [61]:
LR_smote = LogisticRegression()
LR_smote.fit(X_train_SMOTE, y_train_SMOTE)

print(LR_smote.score(X_test, y_test))

0.6445003406173033

In [62]:
pred_smote = LR_smote.predict(X_test)

print('precision: ', precision_score(y_test, pred_smote))
print('recall: ', recall_score(y_test, pred_smote))
print('f1: ', f1_score(y_test, pred_smote))

precision:  0.06680647094068304
recall:  0.446
f1:  0.11620635747785306

In [63]:
category_0 = train[train['TARGET_B'] == 0]
category_1 = train[train['TARGET_B'] == 1]

from sklearn.utils import resample
category_0_under = resample (category_0, replace = False, n_samples = len(category_1), random_state = 0)

In [64]:
train_undersample = pd.concat([category_0_under, category_1], axis = 0)

In [65]:
y_train_undersample = train_undersample['TARGET_B']
X_train_undersample = train_undersample.drop(['TARGET_B'], axis = 1)

LR_under = LogisticRegression()
LR_under.fit(X_train_undersample, y_train_undersample)

print (LR_under.score(X_test, y_test))

0.5480270397736206

In [66]:
pred_under = LR_under.predict(X_test)

print('precision: ', precision_score(y_test, pred_under))
print('recall: ', recall_score(y_test, pred_under))
print('f1: ',f1_score(y_test, pred_under))

precision:  0.06102475532527346
recall:  0.53
f1:  0.10944759938048529